*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root{
    background-color: #1B1B1B;
    display: flex;


}

#left-nav{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1.0)), url('./assets/lHjYzzm.jpg');
    background-position: 10%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding-top: 0rem;
    padding-bottom: 0rem;
    min-width: 25%;
    position: fixed;
    height: 100vh;
    overflow: auto;

}

#nav-links{
    display: flex;
    flex-direction: column;
    padding-bottom: 32rem;
    flex-wrap: wrap;
    text-align: center;
    
}

#nav-links li{
    list-style: none;
    padding-bottom: 2rem;
}

#nav-links a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

#nav-contact {
    display: flex;
    flex-direction: column;

}

#contact-icons{
    display: flex;
    padding-left: 1rem;
    padding-top: 2px;

}

#nav-contact img{
    display: flex;
    flex-wrap: wrap;
    width: 35px;
    height: 35px;
    padding: 3px;    
}

#nav-contact h3{
    color: white;
    padding-left: 1rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

#profile-pic {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#profile-pic img{
    max-width: 200px;
    max-height: 200px;
    border: 2px solid white;
    border-radius: 20rem;
}

#profile-pic h1{
    max-width: 100%;
    height: auto;
    text-align: center;
    padding-top: 15px;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

}

#profile-pic h2{
    max-width: 100%;
    height: auto;
    text-align: center;
    padding-top: 3px;
    color: white;
    font-weight: 200;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;

}

.page-content{
    display: flex;
    flex-direction: column;
    flex: 3 1 0;
    padding: 4rem;
    margin-left: 25%;
    
    
}

#page-title{
    display: flex;
    align-items: flex-start;
    font-size: 28px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}

.sticky{
    position: fixed;
    left: 0;
    width: 25%;
    height: 100vh;
}

.sticky + .page-content{
    padding-left: 120px;
}

#container-card{
    display: flex;
    padding-top: 4rem;
    

}

#info-card{
    background-color: whitesmoke;
    display: flex;
    flex: 4 1 0;
    border-radius: 1rem;
    

}

#time-line{
    display: flex;
    justify-content: center;
    flex: 1 1 0;


}

#line{
    height: 150px;

}

#time-line p{
    color: white;
    font-size: 14px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    padding: 2rem;
}

#description-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2 1 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    
}

#description-info h2{ 
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 3rem;
}

#description-info p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
#description-info button{
    align-self: center;
    width: 150px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: #DB5F5F;
    color: whitesmoke;
    border: none;
    text-transform: uppercase;
    border-radius: 8px;
    
}

#card-img{
    display: flex;
    flex: 3 1 0;
}

#card-img img{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 95%;
    padding: 2rem;
}




